/* sugar.css */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Tajawal:wght@200..900&family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

body {
    scroll-behavior: smooth;
}

.font-kufam { font-family: 'Kufam', sans-serif; }
.font-tajawal { font-family: 'Tajawal', sans-serif; }

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeInUp {
    animation: fadeInUp 1s ease-out forwards;
}
